.mainDiv {
    font-family: Arial, Helvetica, sans-serif;
}

.secondDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form label {
    margin-bottom: 0.5em;
    font-size: smaller;
    color: rgb(157, 157, 157);
}

.titleInput {
    height: 2em;
    margin-bottom: 1.5em;
    margin-left: 4.5em;
    outline: none;
    border: 1px solid lightgray;
    border-radius: 0.2em;
    width: 70%;
}

.textArea {
    outline: none;
    margin-bottom: 1.5em;
    border: 1px solid lightgrey;
    border-radius: 0.2em;
    margin: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

.fileInput {

}

.stylingText {
    display: flex;
    flex-direction: column;
    width: 5%;
    margin-right: 1em;
}
.stylingText button {
    background-color: white;
    border: none;
    padding: 0.25em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    transition: 0.2s;
}

.stylingText button:hover {
    border-radius: 0.2em;
    background-color: lightgrey;
    cursor: pointer;
}

.textAreaStyling {
    display: flex;
    flex-direction: row;
    align-items: center;
}