.mainDiv {
    font-family: Arial, Helvetica, sans-serif;
}

.secondDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form label {
    margin-bottom: 0.5em;
    font-size: smaller;
    color: rgb(157, 157, 157);
}

.titleInput {
    height: 2em;
    margin-bottom: 1.5em;
    margin-left: 4.5em;
    outline: none;
    border: 1px solid lightgray;
    border-radius: 0.2em;
    width: 70%;
}

.textArea {
    outline: none;
    margin-bottom: 1.5em;
    border: 1px solid lightgrey;
    border-radius: 0.2em;
    margin: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 1300px) {
    .responsiveSidebar {
            visibility: hidden;
    }

    .sidebar button {
        height: 40px;
    }
}

@media screen and (max-width: 612px) {

    .postFramePositioning {
        margin-top: 4em;
    }

    .PlanetsIcon,
    .HomeIcon,
    .SettingsIcon,
    .NotificationsIcon {
        font-size: 25px;
    }

    .createPostTitleIcon {
        margin-left: 1em;
        font-size: 35px;
    }

    .sidebar {
        visibility: hidden;
    }



    .responsiveSidebar {
        text-decoration: none;
        list-style-type: none;
        background-color: white;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 0;
        left: 0;
        right: 0;

        margin-bottom: 0;
        padding-bottom: 1px;
        padding-top: 1px;

        height: 4em;
    }

    .responsiveSidebar li {
        color: black;
        transform: translate(-50%);
        margin-left: 10px;
        margin-right: 10px;
    }



    .sidebarText {
        visibility: hidden;
    }

    .postFrame {
        width: 100%;
    }

    .h1 {
        position: fixed;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        top: 0em;
        bottom: 30em;
        padding-bottom: 1em;
        padding-top: 1em;
        background-color: white;
        text-indent: -100px;
    }
}