.h1 {
    display: flex;
    align-items: center;

    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding-bottom: 0.2em;

    position: fixed;
    top: 1em;
    left: 10em;
}

.navbar {
    position: fixed;
    display: flex;
    margin-left: 0.9em;
    margin-right: 0.9em;   
}

.signUp {
    background-color: white;
    font-weight: bold;
    padding: 0.55em 1.2em 0.55em 1.2em;
    border: 2px solid black;
    border-radius: 1.6em;
    margin-right: 0.5em;
    transition: 0.25s;

    position: fixed;
    top: 1em;
    right: 33em;
}

.signUp:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}

.signIn {
    background-color: black;
    border: 2px solid black;
    border-radius: 1.6em;
    padding: 0.55em 1.2em 0.55em 1.2em;
    color: white;
    font-weight: bold;
    margin-left: 0.5em;
    transition: 0.25s;

    position: fixed;
    top: 1em;
    right: 27em;
}

.signIn:hover {
    cursor: pointer;
    opacity: 0.75;
}

.sidebar {
    display: flex;
    flex-direction: column;
    max-width: 15%;
    margin-top: 2em;
    position: fixed;

    top: 5em;
    left: 20em;
}

.sidebarLink {
    text-decoration: none;
}

.sidebar button {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 2em;
    padding: 0.75em 3em 0.75em 3em;
    background-color: black;
    border: 2px solid black;
    border-radius: 1.6em;
    color: white;
    font-weight: bold;
    transition: 0.25s;
}

.sidebar button:hover {
    cursor: pointer;
    opacity: 0.75;
}

.HomeIcon {
    margin-left: 1em;
    font-size: large;
    float: right;
}

.NotificationsIcon {
    margin-left: 1em;
    font-size: large;
}

.SettingsIcon {
    margin-left: 1em;
    font-size: large;
}

.PlanetsIcon {
    margin-left: 1em;
    font-size: large;
}

.rocketSharpIcon {
    margin-left: 0.5em;
}

.homeButton {
    padding-right: 6.3em !important;
}

.settingsButton {
    padding-right: 5em !important;
}

.spaceInfoButton {
    padding-right: 4em !important;
}

  /*--------------*/
 /* POST STYLING */
/*--------------*/

.postFramePositioning {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
}

.postFrame {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 1.5em;
    width: 38%;
    border-bottom: 2px solid lightgray;
    margin-bottom: 2em;
}

.postInfo {
    font-family: Arial, Helvetica, sans-serif;
}

.postInfo p {
    margin: 0;
}

.postInfo h1 {
    margin: 0;
}

.postInfo small {
    color: rgba(118, 118, 118, 0.655);
}

.postProfile {
    border-radius: 0.5em;
    margin-right: 2em;
}

.upvoteFrame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.upvoteCount {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 0.5em;
    margin-left: 2em;
}

.postUpvote {
    font-size: xx-large;
    margin-left: 1em;
    margin-top: 1em;
}

.postUpvote:hover {
    cursor: pointer;
}


  /*-----------------------*/
 /* CREATE A POST STYLING */
/*-----------------------*/

.createPostFrame {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    bottom: 5em;
    right: 6em;
}

.createPostTitle {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.createPostTitleIcon {
    margin-left: 0.5em;
}

.postFrameTitle {
    border: none;
    border-bottom: 2px solid lightgray;
    margin-bottom: 1em;
    padding-bottom: 0.5em;
    outline: none;
    transition: 0.2s;
}

.postFrameTitle:focus {
    border-bottom: 2px solid rgb(0, 145, 255);
}

.postFrameArea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    border: none;
    border-bottom: 2px solid lightgray;
    margin-bottom: 1em;
    outline: none;
    transition: 0.2s;
}

.postFrameArea:focus {
    border-bottom: 2px solid rgb(0, 145, 255);
}

.postFrameSubmit {
    width: 30%;
    padding-top: 0.45em;
    padding-bottom: 0.45em;
    border: none;
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 0.2em;
    transition: 0.2s;
}

.postFrameSubmit:hover {
    cursor: pointer;
    opacity: 0.65;
}

.loginOptions {
    visibility: hidden;
}

.loggedInProfile {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    left: 84.5em;
    visibility: hidden;
}

.loggedInProfile p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0;
    padding-left: 1em;
    padding-right: 0.6em;
}

.loggedInProfile button {
    border: 1px solid black;
    font-weight: bold;
    padding: 0.25em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border-radius: 8px;
    background-color: white;
}

.loggedInProfile button:hover {
    background: linear-gradient(
        to right,
        #151515,
        #1f1e1e
    );
    color: white;
    cursor: pointer;
}

.loggedInProfilePicture {
    border-radius: 0.3em;
    margin: 0;
}

@media screen and (min-width: 1530px) {
    .responsiveSidebar {
        visibility: hidden;
    }

    .sidebar button {
        height: 40px;
    }
}

@media screen and (max-width: 1539px) {
    .sidebar {
        left: 10em;
    }

    .signIn {
        right: 19em;
    }

    .signUp {
        right: 25em;
    }

    .h1 {
        left: 5em;
    }

    .createPostFrame {
        right: 3em;
    }

    .loggedInProfile {
        left: 67em;
    }
}

@media screen and (max-width: 412px) {

    .PlanetsIcon, .HomeIcon, .SettingsIcon, .NotificationsIcon {
        font-size: 25px;
    }

    .createPostTitleIcon {
        margin-left: 1em;
        font-size: 35px;
    }

    .sidebar {
        visibility: hidden;
    }



    .responsiveSidebar {
        text-decoration: none;
        list-style-type: none;
        background-color: white;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 0;
        left: 0;
        right: 0;
        
        margin-bottom: 0;
        padding-bottom: 1px;
        padding-top: 1px;

        height: 4em;
    }

    .responsiveSidebar li {
        color: black;
        transform: translate(-50%);
        margin-left: 10px;
        margin-right: 10px;
    }



    .sidebarText {
        visibility: hidden;
    }

    .postFrame {
        width: 100%;
    }

    .h1 {
        position: fixed;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        top: 0em;
        bottom: 30em;
        padding-bottom: 1em;
        padding-top: 1em;
        background-color: white;
        text-indent: -100px;
    }

    .signUpLink {
        visibility: hidden;
    }

    .signIn {
        right: 1em;
    }
}