.mainDiv {
    min-height: 60vh;
    font-family: Arial, Helvetica, sans-serif;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 74vh;
}

.email, .password {
    border: none;
    margin-bottom: 2em;
    padding: 0.4em 0.5em 0.4em 0.2em;
    width: 18em;
    border-bottom: 2px solid lightgray;
    outline: none;
    transition: 0.2s;
}

.password {
    margin-bottom: 0.5em;
}

.email:focus {
    border-bottom: 2px solid rgb(0, 145, 255);
}

.password:focus {
    border-bottom: 2px solid rgb(0, 145, 255);
}

.submit {
    padding: 0.4em 2em 0.4em 2em;
    border: none;
    background-color: black;
    font-weight: bold;
    color: white;
    border-radius: 0.2em;
    transition: 0.2s;
}

.submit:hover {
    cursor: pointer;
    opacity: 0.65;
}

.span {
    margin-left: 0.25em;
    font-size: small;
}

.invalidInfo {
    color: rgba(255, 0, 0, 0.778);
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.forgotPassword {
    border: none;
    border-radius: 0.2em;
    background-color: white;
    padding: 0.2em 0.5em 0.2em 0.5em;
    margin: 0;
    text-decoration: none;
    color: black;
    font-size: small;
    margin-bottom: 1em;
    transition: 0.2s;
}

.forgotPassword:hover {
    background-color: rgba(255, 236, 236, 0.529);
    cursor: pointer;
}

.emailHolder, .passwordHolder {
    display: flex;
    flex-direction: column;
    font-size: smaller;
    color: rgb(157, 157, 157);
}

@media screen and (max-width: 412px) {
    .PlanetsIcon, .HomeIcon, .SettingsIcon, .NotificationsIcon {
        font-size: 25px;
    }

    .createPostTitleIcon {
        margin-left: 1em;
        font-size: 35px;
    }

    .sidebar {
        visibility: hidden;
    }



    .responsiveSidebar {
        text-decoration: none;
        list-style-type: none;
        background-color: white;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 0;
        left: 0;
        right: 0;
        
        margin-bottom: 0;
        padding-bottom: 1px;
        padding-top: 1px;

        height: 4em;
        z-index: 1000;
    }

    .responsiveSidebar li {
        color: black;
        transform: translate(-50%);
        margin-left: 18px;
        margin-right: 18px;
    }



    .sidebarText {
        visibility: hidden;
    }

    .postFrame {
        width: 100%;
    }

    .h1 {
        position: fixed;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        top: 0em;
        bottom: 30em;
        padding-bottom: 1em;
        padding-top: 1em;
        background-color: white;
    }
}

