.backgroundDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.h1 {
    display: flex;
    align-items: center;

    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding-bottom: 0.2em;

    position: fixed;
    top: 1em;
    left: 10em;
}

.mainDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    font-family: Arial, Helvetica, sans-serif;

    min-width: 80vh;
    min-height: 98.2vh;

    position: fixed;

    top: 1em;
    left: 35em;
}

.span {
    margin-left: 0.25em;
    font-size: small;
}

.newUsername, .confirmPassword, .newEmail {
    color: rgb(157, 157, 157);
    font-size: smaller;
    display: flex;
    flex-direction: column;
}

.inputField {
    border: none;
    outline: none;
    margin-bottom: 1.5em;
    padding: 0.4em 0.5em 0.4em 0.2em;
    border-bottom: 2px solid lightgray;
    transition: 0.2s;
}

.inputField:focus {
    border-bottom: 2px solid rgb(0, 145, 255);
}

.themeSection {
    margin-bottom: 3em;
    display: flex;
    flex-direction: column;
    color: rgb(157, 157, 157);
    font-size: smaller;
}

.themeSection select {
    padding: 0.4em 10.2em 0.4em 0.2em;
    border: none;
    background-color: white;
    border-bottom: 2px solid lightgray;
}

.themeSection p {
    margin: 0;
}

.themeIcon {
    font-weight: bold;
    font-size: x-large;
    margin-left: 0.5em;
}

.themeIcon:active {
    color: lightskyblue;
}

  /*-------------------------*/
 /* APPLY / DELETE SETTINGS */
/*-------------------------*/

.applyChangesButton {
    padding: 0.5em 1em 0.5em 1em;
    border: none;
    background-color: black;
    font-weight: bold;
    color: white;
    border-radius: 0.2em;
    margin-right: 0.25em;
    transition: 0.2s;
}

.applyChangesButton:hover {
    cursor: pointer;
    opacity: 0.65;
}

.deleteAccountButton {
    padding: 0.5em 0.91em 0.5em 0.91em;
    border: none;
    background-color: rgb(253, 242, 242);
    font-weight: bold;
    border-radius: 0.2em;
    margin-left: 0.25em;
    position: relative;
    transition: 0.2s;
}

.deleteAccountButton:hover {
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0.768);
    color: white;
}

  /*----------*/
 /* Siderbar */
/*----------*/

.sidebar {
    display: flex;
    flex-direction: column;
    max-width: 15%;
    margin-top: 2em;
    position: fixed;

    top: 5em;
    left: 20em;
}

.sidebarLink {
    text-decoration: none;
}

.sidebar button {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 2em;
    padding: 0.75em 3em 0.75em 3em;
    background-color: black;
    border: 2px solid black;
    border-radius: 1.6em;
    color: white;
    font-weight: bold;
    transition: 0.25s;
}

.sidebar button:hover {
    cursor: pointer;
    opacity: 0.75;
}

.HomeIcon {
    margin-left: 1em;
    font-size: large;
    float: right;
}

.NotificationsIcon {
    margin-left: 1em;
    font-size: large;
}

.SettingsIcon {
    margin-left: 1em;
    font-size: large;
}

.PlanetsIcon {
    margin-left: 1em;
    font-size: large;
}

.rocketSharpIcon {
    margin-left: 0.5em;
}

.homeButton {
    padding-right: 6.3em !important;
}

.settingsButton {
    padding-right: 5em !important;
}

.spaceInfoButton {
    padding-right: 4em !important;
}

.invalidCred {
    visibility: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: rgba(255, 0, 0, 0.778);
    margin-bottom: 1em;
}

.confirmDeletion {
    position: fixed;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
    top: 3em;
    left: 80em;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2em 6em 2em 6em;
}

.confirmDeletionForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}



@media screen and (max-width: 1539px) {
    .mainDiv {
        left: 25em;
    }

    .sidebar {
        left: 10em;
    }

    .h1 {
        left: 5em;
    }

    .confirmDeletion {
        left: 60em;
    }
}

@media screen and (max-width: 390px) {
    .PlanetsIcon, .HomeIcon, .SettingsIcon, .NotificationsIcon {
        font-size: 25px;
    }

    .createPostTitleIcon {
        margin-left: 1em;
        font-size: 35px;
    }

    .sidebar {
        visibility: hidden;
    }



    .responsiveSidebar {
        text-decoration: none;
        list-style-type: none;
        background-color: white;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 0;
        left: 0;
        right: 0;
        
        margin-bottom: 0;
        padding-bottom: 1px;
        padding-top: 1px;

        height: 4em;
        z-index: 1000;
    }

    .responsiveSidebar li {
        color: black;
        transform: translate(-50%);
        margin-left: 10px;
        margin-right: 10px;
    }



    .sidebarText {
        visibility: hidden;
    }

    .postFrame {
        width: 100%;
    }

    .h1 {
        position: fixed;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        top: 0em;
        bottom: 30em;
        padding-bottom: 1em;
        padding-top: 1em;
        background-color: white;
    }
    
    .mainDiv {
        transform: translate(-80%);
    }

    .mainDiv h1 {
        visibility: hidden;
    }
}